@font-face {
  font-family: "Inter";
  src: url("font/Inter-Regular.ttf") format("ttf");
}

.main_header {
  background-size: cover;
  height: 112.5px;
  border-radius: 0px 0px 0px 0px;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}

.login_header {
  background-size: auto;
  height: 120px;
  border-radius: 0px 0px 0px 0px;
  width: 100%;
}

#logo {
  background-image: url("images/GSB_IMG_logo.png");
  position: absolute;
  height: 100px;
  width: 120px;
  background-size: cover;
  position: absolute;
  align-items: center;
  margin-top: 10px;
  margin-right: 45%;
  margin-left: 45%;
}

body {
  background-image: url("images/GSB_background_general.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: top;
  margin: auto;
  font-family: "Inter", sans-serif;
}

body.login {
  background: url("images/GSB_background_LOGIN.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: top;
  margin: auto;
  font-family: "Inter", sans-serif;
  color: white;
}

.disconnect {
  color: white;
  text-decoration: none;
}

/********************************************************************************
 *************************** * * * *MENU* * * * *********************************
 ********************************************************************************/
.GSB_menu {
  position: fixed;
  width: 15%;
  top: 12%;
  bottom: 0%;
}

.GSB_menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.GSB_menu a:hover {
  background-color: #ccc;
}

.GSB_menu a.active {
  background-color: #6f95ad;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.GSB_menu a:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/********************************************************************************
 *************************** * * * *BODY* * * * *********************************
 ********************************************************************************/

.GSB_body {
  min-width: 450px;
  position: absolute;
  left: 15%;
  right: 0%;
  top: 12%;
  bottom: 0%;
  background-color: #f0f0f0;
  /*border-width: 0.5ex;
  border: solid;
  border-color:black;
  border-collapse: separate;*/
  opacity: 0.6;
}

#emblem {
  background-image: url("images/GSB_IMG_emblem.png");
  min-height: 220.5px;
  min-width: 220.5px;
  max-height: 441px;
  max-width: 441px;
  height: 441px;
  width: 441px;
  background-size: cover;
  position: absolute;
  align-items: center;
  right: 50%;
  left: 59.5%;
  top: 20%;
  bottom: 45%;
}

#emblemLight {
  background-image: url("images/GSB_IMG_emblem.png");
  min-height: 220.5px;
  min-width: 220.5px;
  height: 220.5px;
  width: 220.5px;
  background-size: cover;
  position: absolute;
  align-items: center;
  right: 50%;
  left: 59.5%;
  top: 20%;
  bottom: 45%;
}

/********************************************************************************
 ************************** * * * *LOGIN* * * * *********************************
 ********************************************************************************/

#connexion {
  position: absolute;
  background-color: #bed3e3;
  left: 3%;
  right: 60%;
  top: 7.5%;
  bottom: 15%;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border-style: solid;
  border-color: black;
  box-shadow: 5px 5px 10px #bdbebf;
  border-collapse: separate;
  min-width: 400px;
}

#connexion input[type="submit"],
input[type="reset"] {
  background-color: #6f95ad;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 1.2rem;
  min-width: 490px;
}

#connexion h1 {
  text-align: center;
}

#connexion input[type="text"] {
  background-image: url("images/GSB_IMG_ident.png");
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: 7%;
}

#connexion input[type="password"] {
  background-image: url("images/GSB_IMG_psswd.png");
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: 7%;
}

#connexion input[type="text"],
input[type="password"] {
  color: #000000;
  padding: 8px 100px;
  max-width: 490px;
  font-size: 1.6rem;
  left: 10%;
}

#connexion input[type="text"]::placeholder,
input[type="password"]::placeholder {
  opacity: 0.5;
  text-size-adjust: 10%;
}

.connexion_body {
  min-width: 450px;
  position: absolute;
  padding-bottom: 5%;
  left: 10%;
  right: 10%;
  bottom: 3%;
  top: 14%;
  background-color: #f5f4f2;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border-width: 0.5ex;
  border: solid;
  border-color: black;
  border-collapse: separate;
}
